<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Oracle.ManagedDataAccess.Client"
        type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </providers>
  </entityFramework>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="example" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=))) "/>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
      </dataSources>
      <implicitRefCursor>
        <storedProcedure schema="" name="SELECT_PACK_PACKING_BY_ID">
          <refCursor name="ITEM">
            <bindInfo mode="Output"/>
            <metadata columnOrdinal="0" columnName="LINE_ID" providerType="Int64" allowDBNull="true" nativeDataType="Number"/>
            <metadata columnOrdinal="1" columnName="ORDERNO" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2"/>
            <metadata columnOrdinal="2" columnName="POSNO" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2"/>
            <metadata columnOrdinal="3" columnName="LANGUAGE" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2"/>
            <metadata columnOrdinal="4" columnName="LABELTYPE" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2"/>
            <metadata columnOrdinal="5" columnName="FABRIC" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2"/>
            <metadata columnOrdinal="6" columnName="TAGNO" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2"/>
            <metadata columnOrdinal="7" columnName="MARKTEXT" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2"/>
            <metadata columnOrdinal="8" columnName="DIAMETER" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2"/>
            <metadata columnOrdinal="9" columnName="LENGTH" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2"/>
            <metadata columnOrdinal="10" columnName="BARCODE" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2"/>
            <metadata columnOrdinal="11" columnName="QTY" providerType="Int64" allowDBNull="true" nativeDataType="Number"/>
            <metadata columnOrdinal="12" columnName="QTYPACKED" providerType="Int64" allowDBNull="true" nativeDataType="Number"/>
            <metadata columnOrdinal="13" columnName="BOXWEIGHT_GL" providerType="Decimal" allowDBNull="true" nativeDataType="Number"/>
            <metadata columnOrdinal="14" columnName="BOXHEIGHT" providerType="Int64" allowDBNull="true" nativeDataType="Number"/>
            <metadata columnOrdinal="15" columnName="BOXWIDTH" providerType="Int64" allowDBNull="true" nativeDataType="Number"/>
            <metadata columnOrdinal="16" columnName="BOXLENGTH" providerType="Int64" allowDBNull="true" nativeDataType="Number"/>
            <metadata columnOrdinal="17" columnName="STATUS" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2"/>
            <metadata columnOrdinal="18" columnName="CATEGORY" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2"/>
            <metadata columnOrdinal="19" columnName="DESCRIPTION" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2"/>
            <metadata columnOrdinal="20" columnName="UNIT" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2"/>
            <metadata columnOrdinal="21" columnName="CREATEDATE_GL" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2"/>
            <metadata columnOrdinal="22" columnName="BOXSIZE" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2"/>
            <metadata columnOrdinal="23" columnName="PARTTYPE" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2"/>
            <metadata columnOrdinal="24" columnName="BOXNO" providerType="Decimal" allowDBNull="true" nativeDataType="Number"/>
            <metadata columnOrdinal="25" columnName="BOXWEIGHT" providerType="Decimal" allowDBNull="true" nativeDataType="Number"/>
            <metadata columnOrdinal="26" columnName="CREATEDATE" providerType="Date" allowDBNull="true" nativeDataType="Date"/>
            <metadata columnOrdinal="27" columnName="ID" providerType="Int64" allowDBNull="false" nativeDataType="Number"/>
          </refCursor>
        </storedProcedure>
      </implicitRefCursor>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <add name="Entities"
      connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=;PASSWORD=;USER ID=&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client"
      connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>